@import "../styles.sass"

article
  margin: 1em
  margin-top: 4em

h1
  text-align: center
  height: 1.3em
  margin: 0
  margin-top: 3em

  color: $color-dark

  a
    text-decoration: none

    &:visited
      color: $color-dark

    &:hover
      color: $color-theme
