<h2>Exams created so far</h2>
<div>
  <article
    *ngFor="let exam of examsList"
    [class.deleted]="!exam.active"
    >
    <button class="delete"
      *ngIf="exam.active && (auth.hasRole$('admin') | async)"
      (click)="markActive(exam.id, false)"
      title="Deactivate {{ exam.title }} ({{exam.id}})"
      >X</button>
    <button class="revive"
      *ngIf="!exam.active && (auth.hasRole$('admin') | async)"
      (click)="markActive(exam.id, true)"
      title="Reactivate {{ exam.title }} ({{exam.id}})"
      >^</button>
    <h3>{{ exam.title }}</h3>
    <p class="description">{{ exam.description }}</p>
    <p>{{ exam.long_description }}</p>
    <p class="date">{{ exam.created_at | date:'mediumDate' | uppercase }}</p> 
  </article>
</div>
