@import "../../styles.sass"

div
  display: flex
  flex-wrap: wrap

  article
    display: block
    width: 30%
    margin: 0 1em 1em 0

    padding: 0 0 0.5em 0.5em
    box-shadow: 0 2px 20px lightgray, 0 3px 6px $color-dark

    &.deleted
      background-color: gray

    h3, p
      margin: 0.3em 0

    p.description
      margin-top: 0
      margin-bottom: 0.6em
      font-size: 0.8em
      font-style: italic

    button
      float: right
      border: none
      background-color: $color-theme
      transition: background-color 0.6s  // when out of hover
      color: white
      margin: 0
      width: 2.5em
      height: 2.5em
      text-align: center

      &.delete:hover
        background-color: red

      &.revive:hover
        background-color: green

      &:hover
        transition: background-color 0.2s
        cursor: pointer

.date
  font-size: 0.5em