<nav>
  <a routerLink="/">Exams</a>
  <a *ngIf="auth.loggedIn" routerLink="/new-exam">New Exam</a>

  <span *ngIf="auth.userProfile$ | async as profile">Hello {{ profile.name }}!</span>
  <button *ngIf="auth.loggedIn" routerLink="/me">My Profile</button>
  <button *ngIf="auth.loggedIn" (click)="auth.logout()">Sign Out</button>

  <span *ngIf="!auth.loggedIn">Sign-in to get all functionalities!</span>
  <button *ngIf="!auth.loggedIn" (click)="auth.login()">Sign In</button>
</nav>
