@import "../../styles.sass"

*
  padding: 5px
  margin: 0
  border: none
  font-size: 1em

nav
  position: fixed
  width: 100%
  top: 0
  // margin: 0

  display: flex
  padding: 0.5em
  background-color: $color-theme
  box-shadow: 0px 0px 9px $color-dark,  0px 0px 15px gray

  *
    color: white
    margin-right: 0.5em

  a, button
    text-decoration: none
    display: inline-block
    border-radius: 4px
    background-color: $color-theme

    &:hover
      color: white
      background-color: $color-dark
      transition: background-color 0.2s

    &:visited
      color: white

    &:last-of-type
      margin-right: 0

  span
    margin-left: auto

  button
    cursor: pointer
