div.form
  display: grid
  grid-template-columns: 120px auto

label
  font-size: 1em

input, textarea, button
  max-width: 600px
  font-size: 1em

input, textarea
  border: 0
  border-bottom: 2px solid lightgray
  margin-bottom: 0.5em


@media screen and (max-width: 600px)
  form
    grid-template-columns: auto
