<h2>Create New Exam</h2>
<div class="form">
  <label for="exam-title">Title</label>
  <input id="exam-title" placeholder="Title" min="6"
    [(ngModel)]="exam.title" >
  <label for="exam-description">Description</label>
  <input id="exam-description" placeholder="Short description"
    [(ngModel)]="exam.description">
  <label for="exam-long-description">Long Description</label>
  <textarea id="exam-long-description" placeholder="Long Description" rows="5"
    [(ngModel)]="exam.long_description"></textarea>
  <span></span>
  <button (click)="storeExam()">Store Exam</button>
</div>
