/* You can add global styles to this file, and also import other style files */
$color-theme: #f97306
$color-light: #fd3
$color-dark: #c04e01

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: sans

body
  margin: 0
  padding: 0

h1, h2, h3, h4, h5
  color: $color-theme

li
  list-style-type: '\2013\0020'  // long dash
